$xll: 1440px;
$xl: 1216px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 320px;

$font-family: "Montserrat";
$font-weight: 500;
$min-width: 320px;

$default-color:#000;
$secondary-color-1: #726da8;
$secondary-color-1: #394573;
$secondary-color-2: #bee7e8;
$secondary-color-3: #a0d2db;
$base-color: #333333;

