.menu {
   @include wh(100%);
   position: absolute;
   top: 0;
   left: 0;
   z-index: 8888;
   background-color: $secondary-color-2;
   transform: translateX(-101%);
   visibility: hidden;
   opacity: 0;
   transition: transform 500ms ease, visibility 500ms ease, opacity 500ms ease;
}

.menu.active {
   transform: translateX(0);
   visibility: visible;
   opacity: 1;
}

.menu .header__list {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
}

.menu .header__item:not( :last-of-type ) {
   margin: 0 0 25px 0;
}

.menu .header__link {
   color: $secondary-color-3;
}
