@import 'swiper-bundle';

.swiper-container {
   width: 1200px;
   height: 300px;
 }

.swiper-button-prev,
.swiper-button-next {
   transition: transform 500ms ease;
   top: 51px;

   @include media(max,$md) {
      display: none;
   }
}

.swiper-button-prev {
   left: 0;
}

.swiper-button-next {
   right: -87.5%;
}


.swiper-button-next:hover {
   transform: translateX(-10px) scale(1.1);
}

.swiper-button-prev:hover {
   transform: translateX(10px) scale(1.1);
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next,
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
   background: white;
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
   content: '';
}

.swiper-button-next-svg {
   width: 11px;
   height: 22px;
   fill: $secondary-color-1;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
   content: '';
}

.swiper-button-prev .swiper-button-next-svg {
   transform: rotate(180deg);
}

.swiper-pagination {
   display: none;

   @include media(max,$md) {
      display: block;
   }
}

.swiper-pagination-bullet {
   @include wh(16px);
   background-color:$secondary-color-3;


}

 .swiper-pagination-bullet-active {
   background-color: $secondary-color-2;
}
