// .advice {
// }

.advice__wrapper {
   display: flex;
   margin: 0 -16px;

   @include media(max,$lg) {
      flex-direction: column;
      align-items: center;
   }
}

.advice__card {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   width: 592px;
   min-height: 630px;
   margin: 0 16px;
   padding: 0 40px;
   background: red;
   border-radius: 40px;

   @include media(max,$lg) {
      width: 100%;
      margin: 0 0 32px;
   }
}

.advice__title {
   @include font(32px,1.2,600);
   max-width: 385px;
   margin: 0 0 134px;
   color: #fff;
}

.advice__card:nth-of-type( 2 ) {
   position: relative;
   background: url('./../../assets/images/painful.jpg') no-repeat center center /cover;

   @include media(max,$lg) {
      margin: 0;
   }
}

.advice__card:nth-of-type( 2 ) .advice__title {
   max-width: none;
   margin: 0 0 16px;
}

.advice__text {
   @include font(24px,1.2,400);
   margin: 0 0 101px;
   color: #fff;
}

.advice__link {
   @include font(24px,1.2,600);
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   padding: 23px 40px 22px;
   color: #fff;
   background-color: $base-color;
   border-bottom-right-radius: 40px;
   border-bottom-left-radius: 40px;
}
