.footer {
   padding: 100px 0 45px;

   @include media(max,$lg) {
      padding: 75px 0 50px;

      @include media(max,$sm) {
         padding: 72px 0 50px;
      }
   }
}

.footer__wrapper {
   display: flex;
   align-items: center;

   @include media(max,$lg) {
      justify-content: space-between;

      @include media(max,$md) {
         flex-direction: column;
         justify-content: center;
      }
   }
}

.footer__address {
   margin: 0 194px 0 0;
   font-style: normal;

   @include media(max,$lg) {
      margin: 0 50px 0 0;

      @include media(max,$md) {
         order: 1;
         margin: 0 0 32px;
      }
   }
}

.footer__contact {
   @include font(24px,1.2,false);
   display: block;
   color: $secondary-color-1;
}

.footer__contact:nth-of-type( 1 ) {
   margin: 0 0 10px;

   @include media(max,$sm) {
      margin: 0 0 5px;
   }
}

a.footer__contact:hover {
   text-decoration: underline;
}

.footer__copyright {
   @include font(20px,1.2,400,center);
   margin: 0 217px 0 0;
   color: $secondary-color-2;

   @include media(max,$lg) {
      margin: 0 50px 0 0;

      @include media(max,$md) {
         order: 3;
         margin: 0;

         @include media(max,$sm) {
            font-size: 18px;
         }
      }
   }
}

.footer__copyright span {
   @include media(max,$md) {
      display: block;
   }
}

.footer__logo {
   @include media(max,$md) {
      margin: 0 0 35px;

      @include media(max,$sm) {
         margin: 0 0 33px;
      }
   }
}
