.footer {
}

.footer__wrapper {
   display: flex;
   align-items: center;
}

.footer__address {
   margin: 0 194px 0 0;
}

.footer__contact {
   @include font(24px,1.2,false);
   display: block;
   color: $secondary-color-1;
}

.footer__contact:nth-of-type( 1 ){
   margin: 0 0 10px;
}

.footer__copyright {
   @include font(20px,1.2,400);
   margin: 0 217px 0 0;
   color: $secondary-color-2;
}

.footer__logo {
}
