.header {
   padding: 49px 0 31px;
}

.header__wrapper {
   display: flex;
   align-items: center;

   @include media(max,$xl) {
      justify-content: space-between;
   }
}

.header__logo {
   margin: 0 114px 0 0;

   @include media(max,$xl) {
      margin: 0;
   }
}

.header__menu {
   margin: 0 138px 0 0;

   @include media(max,$xl) {
      display: none;
      margin: 0;
   }
}

.header__list {
   display: flex;
   align-items: center;
}

.header__item {
   position: relative;
}

.header__item:not( :last-of-type ) {
   margin: 0 40px 0 0;
}

.header__link {
   @include font(23px,1.2,false);
   color: $base-color;
   transition: color 500ms ease;
}

.header__link:focus,
.header__link:hover {
   color: $secondary-color-1;
}

.header__socials {
   display: flex;
   align-items: center;

   @include media(max,$sm) {
      display: none;
   }
}

.header__social-item:not( :last-of-type ) {
   margin: 0 28px 0 0;
}

.header__icon {
   @include wh(40px);
   transition: fill 500ms ease;
   fill: $secondary-color-1;
}

.header__icon:focus,
.header__icon:hover {
   fill: $secondary-color-2;
}
