.home {
   @include media(max,$sm) {
      padding: 0 20px;
   }
}

.home__bg {
   position: relative;
   background-color: $secondary-color-2;
   clip-path: circle(2369px at 50% -291.5%);

   @include media(max,$md) {
      clip-path: none;

      @include media(max,$sm) {
         height: 1px;
         min-height: 400px;
         margin: 0 0 30px 0;
         overflow: hidden;
         border-radius: $border-card-small;
      }
   }
}

.home__dog-bg {
   position: relative;
   background: url('./../../assets/images/dog.jpg') no-repeat center center /cover;

   @include media(max,$sm) {
      height: 1px;
      min-height: 400px;
      margin: 0 0 30px 0;
      background: url('./../../assets/images/dogSm.jpg') no-repeat center center /cover;
      border-radius: $border-card-small;
   }

}

.home__wrapper {
   position: relative;
   display: flex;
   height: inherit;
   padding: 105px 0 149px;

   @include media(max,$sm) {
      padding: 32px 0 0;
   }
}

.home__dog-wrapper {
   padding: 136px 0 110px;

   @include media(max,$sm) {
      padding: 32px 0 0;
   }
}

.home__caption {
   @include media(max,$lg) {
      z-index: 1;
   }
}

.home__dog-caption {
   @include media(max,$md) {
      display: flex;
      flex-direction: column;
      padding: 0 0 32px;
   }
}

.home__title {
   max-width: 500px;
   color: $secondary-color-3;
}

.home__dog-title {
   color: $secondary-color-2;
}

.home__text {
   max-width: 590px;
   margin: 0 0 32px;
   color: $secondary-color-4;

   @include media(max,$sm) {
      margin: 0 0 24px;
   }
}

.home__text span {
   display: block;
}

.home__dog-text {
   max-width: 550px;
   margin: 0 0 24px;
   color: $secondary-color-2;
}

.home__price {
   @include font(36px,1.2,600);
   display: block;
   margin: 0 0 24px;
   color: $secondary-color-2;

   @include media(max,$md) {
      flex-grow: 1;

      @include media(max,$sm) {
         font-size: 22px;
      }
   }
}

.home__title span {
   display: block;
}

.home__btn {
   background: linear-gradient(90deg, $secondary-color-4 0%, $secondary-color-1 100%);
}

.home__dog-btn {
   background-color: $secondary-color-2;
   transition: background-color 500ms ease;
}

.home__dog-btn:focus,
.home__dog-btn:hover {
   background-color: $secondary-color-1;
}

.home__btn {
   background: linear-gradient(90deg, $secondary-color-4 0%, $secondary-color-1 100%);
}

.home__wrap-img {
   position: absolute;
   top: 10%;
   left: 60%;

   @include media(max,$lg) {
      position: absolute;
      top: auto;
      bottom: 0;
      left: 59%;

      @include media(max,$sm) {
         position: absolute;
         top: auto;
         right: -50px;
         bottom: 0;
         left: auto;
      }
   }
}

.home__img {
   @include media(max,$lg) {
      width: 350px;

      @include media(max,$sm) {
         width: 200px;
         min-width: 150px;

         @include media(max,$xs) {
            width: 150px;
         }
      }
   }
}

.swiper-container {
   width: 100%;
   height: 100%;
 }
