<section class="advice">
   <div class="container">
      <div class="advice__wrapper">

         <div class="advice__card">
            <h3 class="advice__title">
               Сколько стоит онлайн-консультация
               с терапевтом?
            </h3>

            <button class="advice__arrow-btn">
               <svg class="advice__arrow">
                  <use xlink:href="./assets/icons/symbol/mutable.svg#arrowLine"></use>
               </svg>
            </button>

            <div class="advice__card-bg">
               <h3 class="advice__title-hidden">
                  Онлайн-консультация
                  с терапевтом
               </h3>

               <strong class="advice__price-hidden"><span> от </span> 399 <span>₽</span></strong>

               <ul class="advice__list">
                  <li class="advice__item">Аудио, видео или чат</li>
                  <li class="advice__item">Продолжительность до 60 минут</li>
                  <li class="advice__item">Подробный отчет после консультации: что сделать сейчас, чтобы стало лучше</li>
               </ul>

               <button class="advice__btn btn">Начать консультацию</button>

            </div>
         </div>

         <div class="advice__card">
            <h3 class="advice__title advice__title-card">
               Самые болезненные породы кошек: топ-5
            </h3>

            <p class="advice__text">
               Среди кошачьих пород есть несколько,
               отличающихся слабым здоровьем.
            </p>

            <a class="advice__link" href="#">Все статьи о кошках</a>
         </div>

      </div>
   </div>
</section>
