<section class="advice">
   <div class="container">
      <div class="advice__wrapper">

         <div class="advice__card">
            <h3 class="advice__title title">
               Сколько стоит онлайн-консультация
               с терапевтом?
            </h3>
         </div>

         <div class="advice__card">

            <h3 class="advice__title title">
               Самые болезненные породы кошек: топ-5
            </h3>

            <p class="advice__text">
               Среди кошачьих пород есть несколько,
               отличающихся слабым здоровьем.
            </p>

            <a class="advice__link" href="#">Все статьи о кошках</a>
         </div>

      </div>
   </div>
</section>
