<footer class="footer" id="footer">
   <div class="container">
      <div class="footer__wrapper">

         <address class="footer__address">

            <span class="footer__contact">8 (800) 999-88-77</span>
            <a class="footer__contact" href="#">info@petcare.com</a>

         </address>

         <small class="footer__copyright">©2021 PetCare. <span> Все права защищены </span></small>

         <a class="footer__logo logo" href="index.min.html">

            <svg class="logo__icon">
               <use xlink:href="./assets/icons/symbol/mutable.svg#logo"></use>
            </svg>

            <h1 class="logo__title">PetCare</h1>

         </a>

      </div>
   </div>
</footer>
