<section class="home">
   <div class="container">
      <div class="home__wrapper">

         <h2 class="home__title">Мы заботимсяо ваших питомцах</h2>

         <p class="header__text">
            Записывайтесь в ветклиники и консультируйтесь
            с ветеринарным врачом онлайн
         </p>

         <button class="home__btn">Связаться с нами</button>

      </div>

      <picture>
         <source type="image/webp" srcset="./assets/images/cat.webp, ./assets/images/cat@2x.webp " />
         <img class="lazy" alt="" src="./assets/images/cat.png, ./assets/images/cat@2x.png" />
      </picture>

   </div>
</section>
