<section class="home">

   <div class="swiper-container">
      <div class="swiper-wrapper">
         <div class="swiper-slide">
            <div class="home__bg">
               <div class="container">

                  <div class="home__wrapper">

                     <div class="home__caption">

                        <h2 class="home__title title">Мы заботимся <span> о ваших питомцах </span></h2>

                        <p class="home__text text">
                           Записывайтесь в ветклиники <span> и консультируйтесь
                              с ветеринарным </span> врачом онлайн
                        </p>

                        <a class="home__btn btn" href="#footer">Связаться с нами</a>
                     </div>

                     <picture class="home__wrap-img">
                        <source  type="image/webp" media="(max-width: 576px)" srcset="./assets/images/cat-sm.webp, ./assets/images/cat-sm@2x.webp 2x">
                        <source  type="image/webp" media="(max-width: 1400px)"srcset="./assets/images/cat.webp, ./assets/images/cat@2x.webp 2x">

                        <img class="home__img" alt="cat" src="./assets/images/cat.png" srcset="./assets/images/cat@2x.png 2x" />
                     </picture>

                  </div>
               </div>
            </div>

         </div>

         <div class="swiper-slide">

            <div class="home__dog-bg">
               <div class="container">

                  <div class="home__wrapper home__dog-wrapper">

                     <div class="home__dog-caption">

                        <h2 class="home__dog-title title">Закажите план заботы</h2>

                        <p class="home__dog-text text">
                           Регулярная доставка специально подобранного корма и других товаров для кошек и собак
                        </p>

                        <strong class="home__price">от 1299 ₽/мес</strong>

                        <button class="home__dog-btn btn">Подобрать план</button>
                     </div>

                  </div>
               </div>
            </div>

         </div>

      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-wrap-button">
         <div class="swiper-button-prev">
            <svg class="swiper-button-next-svg">
               <use xlink:href="./assets/icons/symbol/mutable.svg#arrow"></use>
            </svg>
         </div>

         <div class="swiper-button-next">
            <svg class="swiper-button-next-svg">
               <use xlink:href="./assets/icons/symbol/mutable.svg#arrow"></use>
            </svg>
         </div>
      </div>

   </div>

</section>
