<section class="home">
   <div class="container">
      <div class="home__wrapper">

         <div class="home__caption">

            <h2 class="home__title">Мы заботимся <span> о ваших питомцах </span></h2>

            <p class="home__text">
               Записывайтесь в ветклиники <span> и консультируйтесь
               с ветеринарным </span> врачом онлайн
            </p>

            <button class="home__btn">Связаться с нами</button>
         </div>

         <picture class="home__wrap-img">
            <!-- <source type="image/webp" srcset="./assets/images/cat.webp, ./assets/images/cat@2x.webp " /> -->
            <img class="home__img" alt="cat" src="./assets/images/cat.png" srcset="./assets/images/cat@2x.png 2x" />
         </picture>

      </div>

   </div>



</section>
